/*Добавляем стили для элементов*/

body {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #BCB5BE;
	display: flex;
	justify-content: space-between;
	padding: 20px 10%;
}

.cart-button, .menu {
	background-color: #7B2A6E;
	box-shadow: 0 0 15px #6B075B;
	color: #D26DC2;
	font-weight: bold;
	border-radius: 8px;
	font-size: 20px;
}

main {
	background-color: #BCB5B6;
	font-size: 15px;
}

.goods-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 5% 20px 5%;
}

.goods-item {
	margin: 20px;
	height: 300px;
	width: 300px;
	border: 2px solid #6B075B;
	text-align: center;
	color: #7B2A6E;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	font-weight: bold;
}

footer {
	height: 20px;
	font-weight: bold;
	text-align: end;
	padding-right: 20px;
}

p {
	font-size: 30px;
}

.add {
	background-color: #7B2A6E;
	box-shadow: 0 0 15px #6B075B;
	color: #D26DC2;
	border-radius: 8px;
	margin-bottom: 10px;
	width: 80px;
	align-self: center;
}

.href {
	padding: 10px 0;
	background-color: #7B2A6E;
	display: flex;
	justify-content: center;
	font-size: 25px;
}

.href a {
	color: #D26DC2;
}

.field {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info,
.address {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	height: 100px;
	width: 400px;
/*	border: solid 2px red;*/
}

input {
	height: 20px;
	width: 200px;
}

.button {
	margin: 30px 0 10px;
	height: 30px;
	width: 90px;
}


.basket {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.basket .basket_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.basket .basket_content .close_basket {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}