<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>eShop</title>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css"> </head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<div id="app">
		<header>
			<button class="menu" type="button">Меню</button>
			 <input type="text" class="goods-search" v-model= "searchLine"/>
			 <!--<p>Поиск {{ searchLine }}</p>-->
		  	<button class="search-button" type="button" @click="filterGoods">Искать</button>
		  	<button class="cart-button" type="button">Корзина</button>
		</header>
		<main>
			<div class="goods-list">
				<div class="goods-item" v-for="good in filteredGoods">
					<h3>{{ good.product_name }}</h3>
					<p>{{ good.price }}</p>
				</div>
			</div>
		</main>
	  </div>
	
	<div class="href"><a href="hw4.html">Обратная связь</a></div>
	
	<script src="js/script.js"></script>
	<!--<script src="js/hamburger.js"></script>-->
	<!--<script src="js/practice.js"></script>-->
	<footer>by Tatiana Bugay</footer>
</body>

<!--
	1) Добавить методы и обработчики событий для поля поиска.
	Создать в объекте данных поле searchLine и привязать к нему содержимое поля ввода.
	На кнопку Искать добавить обработчик клика, вызывающий метод FilterGoods.

	2)	Добавить корзину. В html-шаблон добавить разметку корзины. Добавить в объект данных поле isVisibleCart, управляющее видимостью корзины.

	3)	* Добавлять в .goods-list заглушку с текстом «Нет данных» в случае, если список товаров пуст.
-->

